# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
venv_*/
build/
dist/
*.egg-info/
*.sqlite3

# VSCode
.vscode/
.history/
.code-workspace

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Setup and Development
postgres_data/

# Migrations
migrations/*.pyc